html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  user-select: none;
  -webkit-user-select: none;
}
#stage,
#stage2d {
  display: block;
  width: 100%;
  height: 100%;
  cursor: grab;
}
#stage[hidden],
#stage2d[hidden] {
  display: none;
}
#stage:active,
#stage2d:active {
  cursor: grabbing;
}
